<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <!-- Navbar content -->
            <container>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#!">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#!">Request One on One</a>
                    </li>
                </ul>
            </container>
        </nav>
        
        <main>
          {{{body}}}
        </main>
    </div>

</body>

</html>