<div class="jumbotron my-3 bg-transparent border border-dark">
  <h1 class="display-3">Get ready for your Onesie!</h1>
  <p class="lead">Welcome to your one stop site to manage your one on ones. From scheduling, 
    to tracking topics and even sharing ideas.</p>
  <hr class="my-2">
  <p>Sign up and get started with a free account today.</p>
  <p class="lead text-center">
    <a class="btn btn-dark btn-lg" href="#!" role="button">Sign Up</a>
  </p>
</div>