<div class="card bg-transparent">
  <!-- Header-->
  <div class="card-header text-center">
    Sign Up
  </div>
  <!-- Login Body-->
  <div class="card-body">
    <form class="form signup-form ">
      <div class="form-group row">
        <label for="signup-email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="signup-email" >
        </div>
      </div>
         <div class="form-group row">
        <label for="signup-pw" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="signup-pw">
        </div>
      </div>
    <div class="form-group text-center">
        <button class="btn btn-dark" type="submit" id="signupbtn">Sign Up</button>
      </div>      
    </form>
  </div>
  <!-- Link to sign up-->
  <div class="card-footer text-muted text-center">  
    <a href="#" class="btn btn-dark" id="signUpBtn">Sign Up</a>
  </div>
</div>

<script src="/js/login.js"></script>